# Entornos virtuales
venv/
env/
.venv/

# Variables de entorno
.env

# Compilados de Python
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/

# Assets generados (opcional, si los vas a guardar localmente)
output/
